<div>
    <div class="containers">
        <h1>Registros dos Cadastros</h1>
        <a routerLink="/system/windowregister">Ver todos</a>
    </div>
    <div class="containers">
        <h1>Indisponível no momento</h1>
        <a routerLink="/system/homesystem">x</a>
    </div>
    <div class="containers">
        <h1>Indisponível no momento</h1>
        <a routerLink="/system/homesystem">x</a>
    </div>
    <div class="containers">
        <h1>Indisponível no momento</h1>
        <a routerLink="/system/homesystem">x</a>
    </div>
    <div class="containers">
        <h1>Indisponível no momento</h1>
        <a routerLink="/system/homesystem">x</a>
    </div>
</div>