<div>
    <h1>Micro Sistema <span>V1</span></h1>
<ul>
    <h2>O que você vai encontrar nesse Sistema</h2>
    <li>Login</li>
    <li>Cadastro</li>
    <li>Verificação de validação</li>
    <li>Aplicação da metodologia CRUD</li>
    <li>Server integrado a pasta do angular (JSON Server) </li>
</ul>

<ul>
    <h2>Aplicações Futura para este Sistema</h2>
    <li>Sistema de Autenticação de Login ( Auth Guard )</li>
    <li>Blog</li>
    <li>Função de Recuperação de Conta</li>
    <li>Tabela de Paginação</li>
    <li>Sistema de Busca Interno</li>
</ul>

<p>
    Liga Page Web: ng serve <br>
    Liga JSON Seve: npm run server
</p>

<p>
    Foi desenvolvido para estudos de angular mais completos.
</p>

</div>
